<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="rentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            class="form-control" 
            [readonly]="nameIsReadonly">
        </div>
        <span *ngIf="!rentForm.get('nombre').valid && rentForm.get('nombre').touched">Por favor ingresar nombre Válido!</span>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input
            type="text"
            id="correo"
            formControlName="correo"
            class="form-control"
            [readonly]="correoIsReadonly">
        </div>
        <span *ngIf="!rentForm.get('correo').valid && rentForm.get('correo').touched">Por favor ingresar correo Válido!</span>
        <div class="form-group">
          <label for="vehiculo">vehiculo</label>
          <input 
            type="text"
            id="vehiculo"
            formControlName="vehiculo"
            class="form-control" 
            [(ngModel)]="carName.carname"
            readonly>
        </div>
        <span *ngIf="!rentForm.get('vehiculo').valid && rentForm.get('vehiculo').touched">Por favor ingresar vehiculo Válido!</span>
        <div class="form-group">
          <label for="recibo-vehiculo" >Fecha de recibo del vehiculo</label>
            <input
              type="date" 
              id="recibo-vehiculo"
              formControlName="recibo-vehiculo"
              class="form-control">
        </div>
        <span *ngIf="!rentForm.get('recibo-vehiculo').valid && rentForm.get('recibo-vehiculo').touched">Por favor ingresar fecha de recibo del vehiculo!</span>
        <div class="form-group">
          <label for="entrega-vehiculo" >Fecha de entrega del vehiculo</label>
            <input
              type="date" 
              id="entrega-vehiculo"
              formControlName="entrega-vehiculo"
              class="form-control">
        </div>
        <span *ngIf="!rentForm.get('entrega-vehiculo').valid && rentForm.get('entrega-vehiculo').touched">Por favor ingresar fecha de entrega del vehiculo!</span>
        <button class="btn btn-primary" type="submit" >Alquilar</button>
      </form>
    </div>
  </div>
</div>